body {
  color: #fff;
  background-image: url(images/webtreats_metal_5-512px.jpg);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
section {
  padding: 200px 0px 120px;
  min-height: 100%;
  background-image: -webkit-radial-gradient(center center, ellipse cover, rgba(34, 34, 34, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: -moz-radial-gradient(center center, ellipse cover, rgba(34, 34, 34, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
  background-image: radial-gradient(center center, ellipse cover, rgba(34, 34, 34, 0.1) 0%, rgba(0, 0, 0, 0.7) 100%);
}
section h1 {
  padding: 5px;
}
section:first-of-type {
  padding-top: 120px;
}
.section-divisor {
  position: absolute;
  background-repeat: repeat-x;
  width: 100%;
  height: 184px;
  background-image: url(images/divisor.png);
  background-position: center;
}
.divisor-middle {
  height: 184px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(images/divisor-middle.png);
}
nav {
  background-color: #ffffff;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
  display: table;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 100;
}
nav ul {
  margin: 0 auto;
  padding: 0;
  display: table-row;
  width: 100%;
  text-align: center;
}
nav ul li {
  display: table-cell;
  width: 25%;
  height: 100px;
  line-height: 100px;
  font-weight: bold;
  color: #333;
  vertical-align: middle;
  cursor: pointer;
  font-size: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.5s ease;
}
nav ul li:hover,
nav ul li.active-button {
  background-color: #333;
  color: #ccc;
}
#home {
  font-size: 130%;
}
#rolamentos article {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  color: #333;
  margin-bottom: 10px;
}
#contato {
  font-size: 130%;
}
#contato iframe {
  width: 100%;
  height: 350px;
}
#map {
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  padding: 5px;
  background-color: #fff;
}
.call-to-action {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  padding: 20px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  margin-top: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.5s ease;
}
.call-to-action:hover {
  background-color: #333;
  color: #ccc;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.7);
}
.center-text {
  text-align: center;
}
.nicescroll-rails {
  z-index: 1000 !important;
}
#orcamento {
  display: none;
  z-index: 200;
  width: 75%;
  position: fixed;
  background-color: #333;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 0px 30px 30px;
  left: 12.5%;
  top: 50%;
}
#overlay {
  z-index: 150;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
}
.close-button {
  width: 50px;
  height: 50px;
  background-image: url(images/btn-close.png);
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: -15px;
  right: -15px;
}
.section-content {
  position: relative;
}
textarea {
  margin-bottom: 10px;
}
#logos div {
  text-align: center;
  margin: 0;
}
#logos img {
  position: relative;
  cursor: pointer;
  border: 1px solid #000;
  width: 100%;
}
#logos .original-logo {
  z-index: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0;
}
#logos .original-logo:hover {
  opacity: 1;
}
#mancais {
  font-size: 140%;
}
#mancais article {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  color: #333;
  margin-bottom: 10px;
}
.img-independant {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}
.img-responsive {
  margin: 0 auto;
}
textarea {
  resize: vertical;
}
#header-subpage a {
  padding: 10px 20px;
  display: block;
  height: 100%;
  text-decoration: none;
  color: #333;
  font-size: 24px;
}
